@page "/gen/pass"

<Title Size="3">Password Generator</Title>

<TextEdit @bind-Text="OutputPassword" ReadOnly="true"/>

<br/>

<Field>
    <FieldLabel>Password Length</FieldLabel>
    <NumericEdit TValue="int" @bind-Value="PasswordLength"/>
</Field>

<br/>

<Check TValue="bool" @bind-Checked="UseUppercaseCharacters">Use Uppercase Characters</Check>
<Check TValue="bool" @bind-Checked="UseLowercaseCharacters">Use Lowercase Characters</Check>
<Check TValue="bool" @bind-Checked="UseNumericalCharacters">Use Numerical Characters</Check>
<Field>
    <FieldLabel>
        <Check TValue="bool" Label="Use Custom Characters" @bind-Checked="UseCustomCharacters">Use Custom Characters</Check>
    </FieldLabel>
    <TextEdit Disabled="!UseCustomCharacters" @bind-Text="CustomCharacters"/>
</Field>

<br/>

<Button Color="Color.Primary" Clicked="GeneratePassword">Generate Password</Button>

@code
{

    private string OutputPassword { get; set; }
    private string CustomCharacters { get; set; } = "!@#$%&";
    private int PasswordLength { get; set; } = 16;
    private bool UseUppercaseCharacters { get; set; } = true;
    private bool UseLowercaseCharacters { get; set; } = true;
    private bool UseNumericalCharacters { get; set; } = true;
    private bool UseCustomCharacters { get; set; } = false;

    protected override void OnInitialized()
    {
        GeneratePassword();
    }

    private void GeneratePassword()
    {
        var random = new Random();
        var characters = default(string);
        if (UseUppercaseCharacters)
            characters += "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        if (UseLowercaseCharacters)
            characters += "abcdefghijklmnopqrstuvwxyz";
        if (UseNumericalCharacters)
            characters += "0123456789";
        if (UseCustomCharacters)
            characters += CustomCharacters;
        OutputPassword = string.IsNullOrWhiteSpace(characters) ? string.Empty : new string(Enumerable.Repeat(characters, PasswordLength).Select(index => index[random.Next(index.Length)]).ToArray());
    }

}